.dice {
  width: 90px;
  height: 90px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) translateX(0);

  &.animating {
    animation-name: rotate;
    animation-duration: 1800ms;
    animation-timing-function: ease-in-out;
  }

  > div {
    height: 90px;
    width: 90px;
    position: absolute;
    background: #b3b1b1;
  }

  span {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: bold;
  }

  .front {
    transform: rotateY(0deg) translateZ(30px);
  }
  .back {
    transform: rotateX(180deg) translateZ(30px);
  }
  .right {
    transform: rotateY(90deg) translateZ(30px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(30px);
  }
  .top {
    transform: rotateX(90deg) translateZ(30px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(30px);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
  }
  35% {
    transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0);
  }
  45% {
    transform: rotateX(-180deg) rotateY(-90deg) rotateZ(0deg) translateX(0);
  }
  65% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0);
  }
  75% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-360deg) translateX(0);
  }
  100% {
    transform: rotateX(90deg) rotateY(360deg) rotateZ(0deg) translateX(0);
  }
}
