.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  text-align: center;
  background-color: #11100f;
  font-family: 'Merriweather Sans', sans-serif;

  p {
    margin: 0 0 10px 0;
  }

  &-header,
  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;


    @media screen and (min-width: 640px) {
      flex-direction: column;
    }

    h1 {
      margin: 0.75rem 0;
    }


    &__subtitle {
      font-size: 0.875rem;
      flex-grow: 2;

      @media screen and (min-width: 640px) {
        font-size: 1rem;
      }
    }
  }

  &-main {
    flex-grow: 2;
    padding: 5px;

    @media screen and (min-width: 640px) {
      min-height: 200px;
      padding: 50px;
    }
  }

  &-logo {
    width: 40px;
    margin: 0.75rem 0;

    @media screen and (min-width: 640px) {
      width: 80px;
      margin: 0 0 1rem;
    }
  }

  &-footer {
    box-sizing: border-box;
    background-color: #11100f;
    font-size: 9px;
    color: white;
    text-align: right;
  }

  &-link {
    color: #61dafb;
  }

  &-button {
    padding: 0.875rem 1.25rem;
    margin: 0 2rem 0.5rem;
    font-size: 0.95rem;
    font-weight: 700;
    background: white;
    border: none;
    border-radius: 2px;

    &--secondary {
      background-color: rgb(78, 59, 59);
      color: white;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
    }

    &--positive {
      background: rgb(62, 138, 62);
      color: white;
    }

    &--negative {
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      background: red;
    }
  }
}
